<% content_for :title, t('.title') %>

<% if can?(:new, :admin_employees) %>
  <div class="mb-1 text-right">
    <%= link_to(t('.new'), { action: :new }, class: 'btn btn-light') %>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        <%= hp_human_name_for(:employee, :code) %>
      </th>
      <th>
        <%= hp_human_name_for(:employee, :full_name) %>
      </th>
      <th>
        <%= hp_human_name_for(:employee, :email) %>
      </th>
      <th>
        <%= hp_human_name_for(:employee, :phone) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each_with_index do |employee, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= employee.code %>
        </td>
        <td>
          <%= link_to_if(
              can?(:show, :admin_employees),
              employee.full_name,
              action: :show, id: employee) %>
        </td>
        <td>
          <%= employee.email %>
        </td>
        <td>
          <%= employee.phone %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
