<%= render 'admin/employees/nav_tabs' %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="details-group">
        <%= hp_field_label(:employee, :user) %>
        <%= hp_field_content(@employee.user&.email) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="details-group">
        <%= hp_field_label(:user, :roles) %>
        <% if @employee.user %>
          <% @employee.user.roles.each do |role| %>
            <span class="ml-2">
              <%= hp_human_code_name_for(:role, role.code) %>
            </span>
          <% end %>
        <% else %>
          ----
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if can?(:edit, :admin_employees_users)%>
  <hr>
  <%= link_to t('.edit'), { action: :edit }, class: 'btn btn-light ml-3' %>
<% end %>
